<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <label>Team Name: </label>
    <input type="text" name="name">
  <label>Team Motto: </label>
    <input type="text" name="motto">
  <h3>Hero 1</h3>
  <label>Hero's Name: </label>
    <input id="member1_name" type="text" name="team[members][][name]">
  <label>Hero's Power: </label>
    <input id="member1_power" type="text" name="team[members][][power]">
  <label>Hero's Biography: </label>
    <input id="member1_bio" type="text" name="team[members][][bio]">
  <h3>Hero 2</h3>
  <h3>Hero 3</h3>
